@mixin breakpoint($point) {
  @if $point==sm {
    @media (min-width: 350px) {
      @content;
    }
  } @else if $point==md {
    @media (min-width: 769px) {
      @content;
    }
  } @else if $point==lg {
    @media (min-width: 1025px) {
      @content;
    }
  } @else if $point==xl {
    @media (min-width: 1201px) {
      @content;
    }
  }
}
